<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Jan Robert Aquino. It uses data from weatherstack.com and positionstack.com. You can type any location on the input field provided in the home page to fetch the current weather of that location.</p>
    </div>
    {{>footer}}
</body>

</html>